.vs
*.ncrunchproject
*.ncrunchsolution
*.user
obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.Resharper
*.resharper
*.ReSharper.user
*.ReSharper
*.gpState
*.csproj.user
*.suo
*.cache
lint.db
*.vs10x
*.csproj.vs10x
~$*
*~
*.nupkg
*.[Dd]ot[Ss]ettings
Source/packages
